name: Deploy Ansible

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: checkout repo
  #     uses: actions/checkout@v2
  #   - name: Lint Ansible Playbook
  #     uses: ansible/ansible-lint-action@master
  #     with:
  #       targets: ""
  deployAnsible:
    # needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ./.github/actions/ansible
      env:
            SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      with: 
        playbook: ./ansible/docker.yml
        inventory: ./ansible/inventory